.button {
    background-color: var(--color-black);
    color: var(--color-primary);
    border: none;
    border-radius: 8px;
    padding: 10px 16px;
    cursor: pointer;
    font-family: "Poppins";
    font-weight: 600;
  }